<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogLevel" value="DEBUG" />
    <add key="LogMode" value="MULTIPLE" />
    <add key="LogDir" value="C:\\Users\\Diego\\Documents\\Visual Studio 2013\\Projects\\BalancerLogger\\BalancerLogger\\BalancerLogger\\bin\\Debug" />
  </appSettings>
</configuration>